---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  ul.posts {
      list-style:none;
  }
  .pagination .selected-page {
      color: #000;
      font-weight: bold;
      margin: 10px;
  }

  .pagination a {
      color: #bbb;
      margin: 10px;
      margin-top: 30px
  }

  a, a h2, a h4 {
    font-weight: 100;
    color: #636363;
  }
  a:hover {
      text-decoration: none;
      color: #636363;
  }

  .post.center {
      text-align: center;
  }

  .post-right {
    text-align: right;
  }

  .site-title, .site-title:visited {
    color: #fff;
  }

  .site-header {
    background-color: #000;
  }

  .trigger .page-link {
    color: #fff
  }

  .wrapper-center {
    text-align: center;
  }
  .home {
    background-color: #fff;
    border: 1px solid #cecece;
    padding: 10px 10px 80px 10px;
    color: #6f6f6f;
    text-align: center;
    width: 200px;
    display: inline-block;
    margin-top: 50px;
  }

  body {
    letter-spacing: -1px;
    background-color: #f7f7f7;
  }
  .post-title.p-name {
    text-align: center;
    font-size: 1.225rem;
  }
  .post-title {
    font-size: 1.225rem;
  }
  .post-content {
      background-color: #fff;
      border: 1px solid #efefef;
      padding: 40px;
      margin-bottom: none;
  }

  .post-content h1, .post-content h2, .post-content h3 {
    margin: 30px 0;
  }

  .search-input {
    border: 1px solid #ccc;
    line-height: 24px;
    outline: none;
    padding: 0 5px;
  }

@media screen and (min-width: 600px) {
  .trigger .page-link {
     color: #fff;
  }
}
@media screen and (max-width: 599px) {
  .trigger .page-link {
     color: #2d2d2d;
  }
  .search-input {
    border: 1px solid #ccc;
    line-height: 24px;
    outline: none;
    padding: 0 5px;
    margin: 0 10px;
    font-size: 12px;
  }
  .post-content {
      background-color: #fff;
      border: 1px solid #efefef;
      padding: 0 20px 15px 20px;
      margin-bottom: none;
  }
  .post-content h4 {
	margin: none;
  }
  .e-content {
      padding-top: 30px;
   }
  .search-posts {
      margin-top: 50px;
  }
}
