---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
  * {
    font-family: D2Coding, 'D2 coding', monospace;
  }

  *:visited { color: #636363; text-decoration: none;}

  body {
    letter-spacing: -1px;
    background-color: #f7f7f7;
  }

  ul.posts {
      list-style:none;
  }
  .search-post-link {
    width: 100%;
  }
  .pagination .selected-page {
      color: #000;
      font-weight: bold;
      margin: 10px;
  }

  .pagination a {
      color: #bbb;
      margin: 10px;
      margin-top: 30px
  }

  a, a h2, a h4 {
      font-weight: 100;
      color: #636363;
  }
  a:hover {
      text-decoration: none;
      color: #636363;
  }

  .post.center {
      text-align: center;
  }

  .post-right, .post-date {
      text-align: right;
  }

  div.post-date {
      font-size: 14px;
      color: #828282;
  }

  .site-title, .site-title:visited {
      color: #fff;
  }

  .site-header {
      background-color: #000;
  }

  .trigger .page-link {
      color: #fff
  }

  .wrapper-center {
      text-align: center;
  }
  .home {
      background-color: #fff;
      border: 1px solid #cecece;
      padding: 10px 10px 80px 10px;
      color: #6f6f6f;
      text-align: center;
      width: 200px;
      display: inline-block;
      margin-top: 50px;
  }

  .post-title.p-name {
      text-align: center;
      font-size: 1.225rem;
  }
  .post-title {
      font-size: 1.225rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .post-content {
      background-color: #fff;
      border: 1px solid #efefef;
      padding: 40px;
      margin-bottom: none;
  }

  .post-content h1, .post-content h2, .post-content h3 {
      margin: 30px 0;
  }

  .search-input {
      border: 1px solid #ccc;
      line-height: 24px;
      outline: none;
      padding: 0 5px;
  }
  .search-count {
      color: #0095ff;
   }
  .search-post-contents {
      color: #a9a9a9;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
 }
 .post-delimiter {
      border-top: 1px solid #e4e4e4;
      padding-bottom: 30px;
 }
 ul {
      margin: 30px;
 }
 .post-delimiter:first-of-type {
      border: none;
 }

@media screen and (max-width: 740px) {
  .home {
    display: none;
  }
  .home:first-of-type {
    display: inline-block;
  }
}

@media screen and (min-width: 600px) {
  .trigger .page-link {
      color: #fff;
  }

  div.post-date {
    display: block;
  }
}
@media screen and (max-width: 599px) {
  .trigger .page-link {
      color: #2d2d2d;
  }
  .search-input {
      border: 1px solid #ccc;
      line-height: 24px;
      outline: none;
      padding: 0 5px;
      margin: 0 10px;
      font-size: 12px;
  }
  .post-content {
      background-color: #fff;
      border: 1px solid #efefef;
      padding: 0 20px 15px 20px;
      margin-bottom: none;
  }
  .search-content {
      padding: 0 20px 40px 20px;
  }
  .post-content h4 {
      margin: none;
  }
  .post-content-body {
       padding-top: 30px;
   }
  .search-posts {
      margin-top: 50px;
  }
  div.post-date {
    font-size: 14px;
    display: block;
    margin: 0 !important;
  }
}
