---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize",
  'font-awesome';

  $fa-font-path: "fonts/font-awesome/";

  * {
    font-family: D2Coding, 'D2 coding', monospace;
  }
  .fas {
    padding-right: 0.5rem;
  }
  .post-content-body a, .post-content-body a:hover {
    color: #636363 !important;
    text-decoration: underline;
  }
  .code-block {
    padding-top: 0.4rem;
  }
  *:visited { color: #636363; text-decoration: none;}

  body {
    letter-spacing: -1px;
    background-color: #f7f7f7;
  }
  pre {
    padding: initial;
  }
  .rouge-table, .rouge-table tbody, .rouge-table tr, .rouge-table td, .rouge-table .lineno, .rouge-table .rouge-code pre {
    border: none;
    margin-bottom: initial;
  }
  .rouge-table .lineno {
      color: #b2ccd6;
      max-width: 20px;
      border-radius: initial;
      padding-right: 1em;
  }
  .highlight {
    text-align: right;
  }
  div.highlighter-rouge .highlight {
    border-radius: 4px;
  }
  .rouge-gutter {
    padding: initial;
    padding-left: 1em;
    width: 2.5em;
  }
  hr {
    height: .25em;
    padding: 0;
    color: #fff;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }
  blockquote {
    font-style: initial;
  }

  .hightlighter {
    background-color: #ffde0080;
    padding: 0 1px;
  }
  ul.posts {
      list-style:none;
  }
  .search-post-link {
    width: 100%;
  }
  .pagination .selected-page {
      color: #000;
      font-weight: bold;
      margin: 10px;
  }

  .pagination a {
      color: #bbb;
      margin: 10px;
      margin-top: 30px
  }

  a, a h2, a h4 {
      font-weight: 100;
      color: #636363;
  }
  a:hover {
      text-decoration: none;
      color: #636363;
  }

  .post.center {
      text-align: center;
  }

  .post-right, .post-date {
      text-align: right;
  }

  div.post-date {
      font-size: 14px;
      color: #828282;
  }

  .site-title, .site-title:visited {
      color: #fff;
  }

  .site-header {
      border-top: none;
      background-color: #000;
  }

  .trigger .page-link {
      color: #fff
  }
  .wrapper {
      max-width: calc(1000px - (30px)) !important;
  }
  .wrapper-center {
      text-align: center;
  }
  .home {
      background-color: #fff;
      border: 1px solid #cecece;
      padding: 10px 10px 80px 10px;
      color: #6f6f6f;
      text-align: center;
      width: 200px;
      display: inline-block;
      margin: 50px 0px 10px 10px;
      box-shadow: 4px 4px #ececec;
  }

  .post-title.p-name {
      text-align: center;
      font-size: 1.225rem;
  }
  .post-title {
      font-size: 1.225rem;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
  }
  .post-content {
      background-color: #fff;
      border: 1px solid #efefef;
      padding: 40px;
      margin-bottom: none;
  }

  .post-content h1, .post-content h2, .post-content h3 {
      margin: 30px 0;
  }

  .search-input {
      border: 1px solid #ccc;
      line-height: 24px;
      outline: none;
      padding: 0 10px;
      border-radius: 4px;
  }
  .search-count {
      color: #0095ff;
   }
  .search-post-contents {
      color: #a9a9a9;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
 }
 .post-delimiter {
      border-top: 1px solid #e4e4e4;
      padding: 10px 0;
 }
 ul {
      margin: 30px;
 }
 .post-delimiter:first-of-type {
      border: none;
 }

@media screen and (min-width: 600px) {
  .trigger .page-link {
      color: #fff;
  }

  div.post-date {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .home {
    display: inline-block;
  }
  .home:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .wrapper {
    padding: initial !important;
  }
  .wrapper .site-title, .wrapper .post-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .site-nav input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
      border: 1px solid #d7d7d7;
      background-color: #fff;
      margin-top: 2.95rem;
      border-radius: 5px;
  }
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: initial;
    border: initial;
    text-align: right;
  }
  .site-nav .menu-icon > svg path {
    fill: #fff;
  }

  ul.posts {
    margin: initial;
  }
  ul.posts .post-link {
    font-size: 1.0rem !important;
  }
  .post-content h4 {
    font-size: 1.0rem !important;
  }
  .trigger .page-link {
      color: #2d2d2d;
  }
  .search-input {
      border: 1px solid #ccc;
      line-height: 24px;
      outline: none;
      padding: 0 10px;
      margin: 0 10px;
      font-size: 12px;
  }
  .post-content {
      background-color: #fff;
      border: 1px solid #efefef;
      padding: 0 20px 15px 20px;
      margin-bottom: none;
  }
  .search-results {
    margin-top: 3.0rem;
  }
  .search-content {
      padding: 0 20px 40px 20px;
  }
  .post-content h4 {
      margin: none;
  }
  .post-content-body {
       padding-top: 30px;
   }
  .search-posts {
      margin-top: 50px;
  }
  div.post-date {
    font-size: 0.8rem;
    display: block;
    margin: 0 !important;
  }
  .home {
    display: none;
  }
  .home:first-of-type {
    display: inline-block;
  }
}
